#################
## UNITY3D
#################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/

*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
.DS_Store
/[Ll]ibraryibrary/FailedAssetImports.txt
/[Ll]ibraryibrary/cache
/[Ll]ibraryibrary/previews
/[Ll]ibraryibrary/ScriptAssemblies
Library/assetDatabase3